// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


h3 {
    color: crimson;
}

.index-buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    align-items: center;
    gap: 5px;

    form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px 0;
        gap: 5px;

        button {
            width: 100px;
        }

    }
}

.tags-forest {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1px;

        .badge {
            padding: 10px;
        }
    }
}

.menu-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-family: monospace;
}

.modal {
    display: block;
    background-color: #cccccccc;
}

#messages {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 5px;
}