// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


h3 {
    color: crimson;
}

.index-buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    gap: 5px;
}